footer {
  background-color: #f3f2f5;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-top: none;
  bottom: 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-decoration: none;
}

.footer h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.redesSociales i {
  color: $color-gris;
  margin-right: 15px;
  align-items: left;
  text-align: left;

  &:hover {
    background-color: #f3f2f5;
  }
}

.copyFont {
  text-align: center;
}

.footer h4 p i {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
  color: black;
}


a,
svg {
  color: #333;
  text-decoration: none;
}

svg:hover {
  color: rgb(117, 116, 116);
  background-color: #f3f2f5;
  text-decoration: solid;
}




/* a partir de aca nuevo footer*/